version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  commit-message:
    prefix: fix
    prefix-development: build
    include: scope
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  labels:
    - 'Type: Dependency'

- package-ecosystem: "github-actions"
  directory: "/"
  commit-message:
    prefix: fix
    prefix-development: build
    include: scope
  schedule:
    interval: weekly
  labels:
    - 'Type: CI Dependency'
