#
# On a daily basis, publishes SNAPSHOT artifacts to Maven Central Portal Snapshots repository.
#
name: Nightly Build

on:
  push:
    branches:
      - test-970-new
  workflow_dispatch:

jobs:
  build:
    uses: pdfclown/.github/.github/workflows/build-nightly.yml@main
    permissions:
      contents: read
    secrets: inherit
